/* sidebar */
.sidebar-item{
    color:'#fff',
    

}


.btn-cancel {
    border: 2px solid;
    border-radius: 12px;
    padding: 3px 21px;
    border-color: #1A1363;
    color: #1A1363;
}

.btn-member {
    padding: 3px 21px;
    border: 2px solid;
    background-color: #1A1363;
    border-radius: 12px;
    color: white;
    font-weight: 600;
}

.btn-edit {
    color: rgb(43, 43, 43);
    background-color: #fff;
    padding: 3px 10px;
    border-radius: 12px;
}

.btn-previous {
    border-radius: 12px;
    background-color: white;
    padding: 3px 21px;
}

.btn-next {
    padding: 3px 21px;
    border-radius: 12px;
    background-color: #C7C1FF;
    margin-left: 10px;
}

.btn-login {
    border-radius: 24px;
    height: 72px;
    width: 431px;
    padding: 3px 21px;
    background-color: #1A1363;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
}

.btn-coach {
    color: #1A1363;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 382px;
}

.add-coach {
    display: flex;
    margin: 50px auto;
    padding: 0px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* text */
.text-line {
    font-size: 32px;
    line-height: 48px;
    color: #DEBA3B;
    font-weight: 700;
}

.text-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #1A1363;
}

/* label */
.label-login {
    color: #332F64;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
}

.select-number {
    border-radius: 12px;
    width: 59px;
    background-color: #5D57A3;
    color: white;
    text-align: center;
    height: 33px;
}


/* input */
.input-search {
    height: 33px;
    background-color: rgb(93, 87, 163);
    width: 331px;
    color: white;
    border-radius: 12px;
    padding-left: 12px;
}

.input-login {
    border: 4px solid;
    border-color: #332F64;
    height: 67px;
    border-radius: 10px;
}